<dom-module id="otro-componente">

    <template>
      <style>
        :host {
          display: block;
        }
      </style>
      <h1>OTRO COMPONENTE - [[valor]]</h1>
    </template>
  
    <script>
      class OtroComponente extends Polymer.Element {
        static get is() {
          return 'otro-componente';
        }
        // Declare properties for the element's public API
        static get properties() {
          return {
              valor: {
                  type: String,
                  value: "VALOR-OTRO-COMPONENTE"
              }
          };
        }

        cambioValor(e){
            this.set('valor', e.texto);
        }
      }
      customElements.define(OtroComponente.is, OtroComponente);
      </script>
  
  </dom-module>
