<link rel="import" href="../../components/cells-st-button/cells-st-button.html"></rel>
<dom-module id="mi-componente">

    <template>
      <style>
        :host {
          display: block;
        }
      </style>
      <h1>MI COMPONENTE</h1>
      <cells-st-button>
        <button on-click="navegar">Mi Link</button>
      </cells-st-button>
    </template>
  
    <script>
      class MiComponente extends Polymer.Element {
        static get is() {
          return 'mi-componente';
        }
        // Declare properties for the element's public API
        static get properties() {
          return {
            texto:{
              type: String,
              value: 'Valor desde mi componente'
            }
          };
        }

        navegar(){
          console.log('navegar');
          this.dispatchEvent(new CustomEvent('navegar' , {
            bubbles: true,
            composed: true,
            detail:{
              texto: this.texto
            }
            }));
        }
      }
      customElements.define(MiComponente.is, MiComponente);
      </script>
  
  </dom-module>
